<%- include("./partials/header") %>

  <div class="container">

      <h1>Cadastro de Produtos "Teste"</h1>
    
      <form action="<%= actionUrl %>" class="formulario" method="POST" enctype="multipart/form-data">
        
        <div class="cadastro">
          <label for="foto_livro" class="form-label">Imagem de Perfil</label>
          <input type="file" class="form-control" name="foto_livro" id="foto_livro" required/>
          <div class="invalid-feedback"></div>
        </div>  

        <div class="input">
          <label for="exampleInputEmail1" class="form-label">Insira o nome do produto: </label>
          <input type="text" class="form-control contato__input" name="nome" value="<%= Produto.nome %>">
        </div>

        <div class="input">
          <label for="exampleInputEmail1" class="form-label">Insira o Autor: </label>
          <input type="text" class="form-control contato__input" name="autor" value="<%= Produto.autor %>">
        </div>

        <div class="input">
          <label for="exampleInputEmail1" class="form-label">Insira a editora: </label>
          <input type="text" class="form-control contato__input" name="editora" value="<%= Produto.editora %>">
        </div>

        <div class="input">
          <label for="exampleInputPassword1" class="form-label">Descrição</label>
          <input type="text" class="form-control contato__input" name="descricao" value="<%= Produto.descricao %>">
        </div>

        <div class="input">
          <label for="exampleInputPassword1" class="form-label">Avaliação "teste"</label>
          <input type="number" class="form-control contato__input" name="avaliacao" value="<%= Produto.avaliacao %>">
        </div>
        
        <div class="input">
          <label for="exampleInputPassword1" class="form-label">Preço</label>
          <input type="number" class="form-control contato__input" name="preco" value="<%= Produto.preco %>">
        </div>

        <label for="exampleInputPassword1" class="form-label">Gêneros</label>
        <select class="form-select" aria-label="Default select example" name="genero_id" >
          <option <%=  Produto.genero_id ==  undefined ?'selected':''%> disabled>Selecione o Gênero</option>
          <% var options = []; %> 
          <% for (let i=0; i < generos.length ; i++){ %>
            <option <%=  Produto.genero_id ==  generos[i].id ?'selected':''%> value='<%= generos[i].id %>'><%= generos[i].nome %></option>
          <% } %> 
        </select>

        <button type="submit" class="btn"> <%= titulo %> </button>
      </form>

    
  </div>


<%- include("./partials/footer") %>