<%- include("./partials/header") %>



    
        <div class="login_corpo">
        <form action="/genero/editar/<%= Genero.id %>" class="formulario" method="POST">
            <div  class="input">
          
                <label for="exampleInputEmail1" class="form-label">insira o nome da genero: </label>
                <input type="text" class="form-control contato__input" name="nome" value="<%= Genero.nome %>" required>
                
              </div>
      
              <div class="input">
                <label for="exampleInputPassword1" class="form-label">descrição</label>
                <input type="text" class="form-control contato__input" name = "descricao" value="<%= Genero.descricao %>" required >
              </div>

              <button type="submit" class="btn"> Atualizar </button>
              
              
              
            </form>
            
    </div>


<%- include("./partials/footer") %>