<%- include("./partials/header")%>

<body>
    <h1>API de consulta de Cep: </h1>
    <form action="/endereco" method="GET">
        <label>Digite o cep para consulta </label>
        <input type="text" name="cepConsulta">
        <button type="submit">Consultar</button>
    </form>


        <% if(typeof detalhesCep !== "undefined"){ %> 
            <div>
                <h2>Detalhes do cep: <%= detalhesCep.cep %></h2>
                <p>Rua: <%= detalhesCep.street %></p>
                <p>Bairro: <%= detalhesCep.neighborhood %></p>
                <p><%= detalhesCep.city %> - <%= detalhesCep.state %></p>
            </div>
      
        <% } %> 
</body>

  








<%- include("./partials/footer") %>