<%- include("./partials/header")%>

  <div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/banner-setembro-livraria 1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/banner-setembro-livraria 1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/banner-setembro-livraria 1.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <h3 class="subtitle">Livros Mais Vendidos da Semana</h3>
    <section class="card-group">
      <% var contador = 0 %> 



      <% for( contador; contador<4; contador++ ) { %>
      <div class="card col-md-2">
        <img src="/uploads/fotos_produtos/<%= produtos[contador].foto_livro %>" class="card-img-top" alt="...">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li>
              <h5 class="card-title"><%= produtos[contador].nome %></h5>
            </li>
            <li>
              <p class="card-text"><%= produtos[contador].autor %></p>
            </li>
            <li>
              <h5 class="card-text price"><b>R$ <%= produtos[contador].preco %></b></h5>
            </li>
            <li><a href="/produto/<%= produtos[contador].id %>" class="btn">Ver mais detalhes...</a></li>
          </ul>
        </div>
      </div>
      <% } %>
      
      
      
      
    
      

      
    </section>

    <h3 class="subtitle">Encontre seu universo favorito</h3>
    <section class="card-group">
      <% for( i = 0; i<6 ; i++ ) { %>
      <div class="card card-img categories">
        <a href="" target="_blanc"><img src="/uploads/fotos_generos/<%= generos[i].foto_genero %>" class="card-img-top" alt="..."> </a> 
      </div>
      
      <% } %>


      
    </section>
    
    <h3 class="subtitle">Ofertas do dia</h3>
    <section class="card-group">
      <% for( contador; contador<8; contador++ ) { %>
        <div class="card col-md-2">
          <img src="/uploads/fotos_produtos/<%= produtos[contador].foto_livro %>" class="card-img-top" alt="...">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li>
                <h5 class="card-title"><%= produtos[contador].nome %></h5>
              </li>
              <li>
                <p class="card-text"><%= produtos[contador].autor %></p>
              </li>
              <li>
                <h5 class="card-text price"><b>R$ <%= produtos[contador].preco %></b></h5>
              </li>
              <li><a href="/produto/<%= produtos[contador].id %>" class="btn">Ver mais detalhes...</a></li>
            </ul>
          </div>
        </div>
        <% } %>
    </section>
    
    
  </div>
  <%- include("./partials/footer")%>
