<%- include("./partials/header") %>
    <div class="container-generos container_corpo">

        <h1>Lista de Generos</h1>
        <a href="/admin/genero/criar" class="btn">Criar</a>
        <ul class="list-group">
            <% for( let i=0; i < generos.length; i++ ) { %>


                <li>

                    <div class="card mb-3 historico-carde">
                        <div class="col historico-carde" style="margin:20px;">
                            <div class="col-md-4">
                                <img src="/uploads/fotos_generos/<%= generos[i].foto_genero %>" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div>
                                <ul class="list-group">
                                    <li>
                                        <a href="/admin/genero/editar/<%= generos[i].id %>">
                                            <h5 class="card-title">
                                                <%= generos[i].nome %>
                                            </h5>
                                        </a>
                                    </li>
                                    <li>
                                        <%= generos[i].descricao %>
                                    </li>
                                    <li>
                                        <a href="/admin/genero/editar/<%= generos[i].id %>" class="btn">Editar</a>
                                    </li>
                                    <li>
                                        <a href="/admin/genero/deletar/<%= generos[i].id %>" class="btn">Deletar</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <% } %>

        </ul>

       
    </div>




    <%- include("./partials/footer") %>