<%- include("./partials/header") %>
    <div class="container">

        <div class="subtitle">

            <h1>Lista de Gêneros</h1>
        </div>
        <a href="/admin/genero/criar" class="btn">Criar</a>
        
        <section class="row row-cols-5">
            <% for( let i=0; i < generos.length; i++ ) { %>

                <div class="card col">
                    <img src="/uploads/fotos_generos/<%= generos[i].foto_genero %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <ul class="list-group list-group-flush">
                        <li>
                          <a class="card-title" href="/admin/genero/editar/<%= generos[i].id %>"><h5 ><%= generos[i].nome %></h5></a>
                        </li>
                        <li>
                          <p class="card-text"> <%= generos[i].descricao %></p>
                        </li>
                
                       
                          <li><a href="/admin/genero/editar/<%= generos[i].id %>" class="btn"> Editar </a></li>
                          <li><a href="/admin/genero/deletar/<%= generos[i].id %>" class="btn"> Deletar </a></li>
                          
                        
                      </ul>
                    </div>
                  </div>

               
                <% } %>
            </section>

        

       
    </div>




    <%- include("./partials/footer") %>