<%- include("./partials/header")%>

    <div class="container">
        <div>
            <h1>Lista de livros </h1>
        </div>
        
            <% for( let i=0; i < livros.length; i++ ) { %>
              

                    <div class="card mb-3 historico-card">
                      <div class="col historico-card">
                        <div class="col-md-4">
                          <img src='/uploads/fotos_produtos/<%= livros[i].foto_livro %>' class="img-fluid rounded-start" alt="...">
                        </div>
                        <div style=" width: 400px;">
                          <ul class="list-group">
                            <li>
                                <a href="/produto/editar/<%= livros[i].id %>"><h5 class="card-title"><%= livros[i].nome %></h5></a>
                            </li>
                            <li>
                              <p class="card-text"> <b> Autor: </b> <%= livros[i].autor %></p><!-- colocar no banco -->
                            </li>
                            <li><p class="card-text" ><b> Descrição: </b> <%= livros[i].descricao %></p></li>
                            <li> <p class="card-text" ><b> Gênero: </b> <%= livros[i].genero.nome %></p></li>
                            <li>
                              <p class="card-text">Valor Unitário</p>
                              <h5 class="card-text price"><b>R$ <%= livros[i].preco %></b></a>
                            </li>
                              <a href="/produto/editar/<%= livros[i].id %>" class="btn"> Editar </a>
                              <a href="/produto/deletar/<%= livros[i].id %>" class="btn"> Deletar </a>
                              <a href="/produto/<%= livros[i].id %>" class="btn">Comprar</a>
                          
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                <% } %>
      
        <a href="/produto/criar" class="btn">Criar</a>
    </div>
<%- include("./partials/footer")%>