<%- include("./partials/header")%>

  <body>
    <div class="container painel ">
      <div class="menuUsuario">
        <ul class="nav flex-column">
          <li class="nav-item ">
            <a href=""><img src="/uploads/fotos_perfil/<%= usuarioLogado.foto_perfil %>" alt=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b><%= usuarioLogado.nome %> <%= usuarioLogado.sobrenome %></b></a>
          </li>
          <% if( Admin != undefined ){ %>
            <li class="nav-item">
              <a class="nav-link" href="/usuario/cadastrar"><b>Criar novo usuario</b></a>
            </li>
            <% } %>
          <li class="nav-item">
            <a class="nav-link" href="/usuario/editar"><b>Configurações</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/usuario/logout"><b>Logout</b></a>
          </li>
        </ul>
      </div>

      <div class="historico" style="margin-left: 20px;">
        <h2>Compras de <%= usuarioLogado.nome %> </h2>
        <div>
          
          <ul class="list-groupe">
            <% for (let i=0; i<pedidos.length; i++){ %><!-- quantidade de pedidos -->
              <li class="compra table-responsive">
                <div class="subtitle">
                  <h2>Pedido nº: <%= pedidos[i].id %>  </h2>
                  <h5>Valor total do Pedido: <%= pedidos[i].valor %>  </h5>
                </div>
                <table class="table table-striped tabelaPedidos">
                  <thead>
                    <tr>
                      <th scope="col" ></th>
                      <th scope="col" >Livro</th>
                      <th scope="col" >Quantidade</th>
                      <th scope="col" >Preço unitário</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% var contagem = 1 ; %> 

                    <% for (let k=0; k<pedidosHasProduto.length; k++){ %><!-- quantidade de produtos no pedido-->
                    
                    <% if( pedidos[i].id == pedidosHasProduto[k].pedido_id){ %>
                      <% for (let z=0; z<produtos.length; z++){ %>

                        <% if( produtos[z].id == pedidosHasProduto[k].produto_id){ %>
                          <tr>
                            <th scope="row" class="itenTabela"><%= contagem %></th><!-- contagem do livro-->
                            <td class="itenTabela"><a href="/produto/<%= produtos[z].id %>"><%= produtos[z].nome %></a></td>
                            <td class="itenTabela"><%= pedidosHasProduto[k].quantidade %></td>
                            <td class="itenTabela"><%= pedidosHasProduto[k].valor %></td>
                          </tr>
                          
                          
                          <% contagem++; %> 
                      <% } %> 
                      <% } %> 
                      <% } %> 

                    <% } %>
                  </tbody>
                </table>
              </li>
              <% } %>
          </ul>


        </div>
      </div>


    </div>
    <%- include("./partials/footer")%>