<%- include("./partials/header")%>

    <main>
        <section class="products">
            <div class="product-img">
                <img src="/uploads/fotos_produtos/<%= livro.foto_livro %>" alt="">
            </div>
            <div class="product-discription">
                <div class="availability">
                    Disponível
                </div> 
                <h2><%= livro.nome %></h2>
                <div class="author-review">
                    <div class="author">
                    <a href="">Autor: <b><%= livro.autor %></b></a> 
                    </div>  
                    <div class="star-reviews">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z"
                                fill="#FF9100" />
                        </svg>
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z"
                                fill="#FF9100" />
                        </svg>
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z"
                                fill="#FF9100" />
                        </svg>
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z"
                                fill="#FF9100" />
                        </svg>
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z"
                                fill="#FF9100" />
                        </svg>
                    </div>
                </div>
                <hr>
                <div class="price">
                    <div class="old-price">
                        <span>R$ 59,90</span>
                    </div>
                    <div class="new-price">
                        <span>R$ <%= livro.preco %></span>
                    </div>
                    <p>Em até 2x no cartão</p>
                </div>
                <p class="resume-descri"><%= livro.descricao %></p>
                <hr>
                <div class="compra-carrinho">
                    <button class="comprar">Comprar Agora</button>
                    <a class="carrinho-btn btn" href="/carrinho/adicionar/<%= livro.id %>">Adicionar ao carrinho</a>
                </div>
                <div class="category">
                    <p>Genero <b><%= livro.genero.nome %></b></p>
                </div>
            
                </div>
            </div>
        </section>
        
        <section class="desciption-reviws">
            <div class="produtc-information">
                <ul>
                    <li><a href="" class="descripition2">Descrição</a></li>
                    <li><a href="">Avaliações</a></li>
                </ul>
                <div class="full-discription">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, alias veritatis reprehenderit doloremque, eum, esse consequatur quis nulla in fugit tenetur! Porro, odio. Nihil optio temporibus dolorem nemo autem quis!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur deserunt quaerat ab eligendi itaque consequuntur accusantium ex ratione vel explicabo sapiente quam, numquam aliquid a necessitatibus, molestiae beatae eaque asperiores.</p>
                </div>
            </div>
        </section>
    </main>

    

    <%- include("./partials/footer") %>

